<%- include partials/header%>
<div>	
    <header>
        <h2>Planet Information</h2>
    </header>
    <section><p>Info <span id="reccount"><span></p>
        <ul>
            <li id="pname"></li>
            <li id="rotation_period"></li>
            <li id="orbital_period"></li>
            <li id="diameter"></li>
            <li id="climate"></li>
        </ul>
    </section>
    <footer>
        <button id="btnnext" disabled>next</button>
    </footer>
</div>
<%- include partials/footer%>