        <mat-tab-group>        
                <mat-tab label="First" (click)="click1()">
        
                    <h2>Name</h2>
                    <ol>
                        <li>Scientific Name: {{data["name"]["scientiifc_name"]}}</li>
                        <li>Family Name: {{data["name"]["family_name"]}}</li>
                        <li>Kingdom Name: {{data["name"]["kingdon_name"]}}</li>
                        <li>Image: <img src="{{data['name']['classification_pic']}}"/></li>
                    </ol>
        
        
                    <h2>Detail</h2>
                    <ol>
                        <li>Life Span: {{data["detail"]["lifeSpan"]}}</li>
                        <li>Mass: {{data["detail"]["mass"]}}</li>
                        <li>Daily Sleep: {{data["detail"]["daily_sleep"]}}</li>
                        <li>Image: <img src="{{data['detail']['pic']}}"/></li>
                    </ol>
        
        
                    <h2>Breed</h2>
                    <ol>
                        <li>Breed 1: {{data["breeds"]["breed_1"]}}</li>
                        <li>Breed 1 Pic: <img src="{{data['breeds']['breed_1_img']}}"/></li>
                        <li>Breed 2: {{data["breeds"]["breed_2"]}}</li>
                        <li>Breed 2 Pic: <img src="{{data['breeds']['breed_2_img']}}"/></li>
                    </ol>
        
        
                </mat-tab>
        
                <mat-tab label="Second">
                        <h2>Name</h2>
                        <ol>
                            <li>Scientific Name: {{data["name"]["scientiifc_name"]}}</li>
                            <li>Family Name: {{data["name"]["family_name"]}}</li>
                            <li>Kingdom Name: {{data["name"]["kingdon_name"]}}</li>
                            <li>Image: <img src="{{data['name']['classification_pic']}}"/></li>
                        </ol>
            
            
                        <h2>Detail</h2>
                        <ol>
                            <li>Life Span: {{data["detail"]["lifeSpan"]}}</li>
                            <li>Mass: {{data["detail"]["mass"]}}</li>
                            <li>Daily Sleep: {{data["detail"]["daily_sleep"]}}</li>
                            <li>Image: <img src="{{data['detail']['pic']}}"/></li>
                        </ol>
            
            
                        <h2>Breed</h2>
                        <ol>
                            <li>Breed 1: {{data["breeds"]["breed_1"]}}</li>
                            <li>Breed 1 Pic: <img src="{{data['breeds']['breed_1_img']}}"/></li>
                            <li>Breed 2: {{data["breeds"]["breed_2"]}}</li>
                            <li>Breed 2 Pic: <img src="{{data['breeds']['breed_2_img']}}"/></li>
                        </ol>        
                </mat-tab>
        
        </mat-tab-group>

