<div class="ct-footer-post">
    <div class="container">
        <div class="inner-left">
            <ul>
                <li>
                    <a href="">FAQ</a>
                </li>
                <li>
                    <a href="">News</a>
                </li>
                <li>
                    <a href="">Contact Us</a>
                </li>
            </ul>
        </div>
        <div class="inner-right">
            <p>
                Copyright © 2016 WebCorpCo.&nbsp;<a href="">Privacy Policy</a>
            </p>
            <p>
                <a class="ct-u-motive-color" href="" target="_blank">Web Design</a> by DigitalUs on <a href="" target="_blank">Solodev CMS</a>
            </p>
        </div>
    </div>
</div>
